[user]
	email = verschueren.bram@gmail.com
	name = Bram Verschueren
[core]
    editor = vim
    excludesfile = ~/.gitignore
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[gpg]
    program = gpg2
[commit]
    gpgsign = true
[color]
    ui = auto
[status]
	submoduleSummary = true
